<div class="row mt-4">
  <div class="col">
    <h1>Author Details</h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= link_to "<< Return to Authors List", authors_path %>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
  </div>
</div>

<div class="row mt-2">
  <div class="col">
    <h5>
      <%= @author.name %>
    </h5>
  </div>
</div>

<div class="row mt-2">
  <div class="col">
    Born: <%= @author.birth_year %>
  </div>
</div>

<div class="row mt-4 mb-4">
  <div class="col">
    <%= render partial: 'author', locals: { book_author: @author } %>
  </div>
</div>

<% if @author.address.present? %>
  <div class="row mt-5">
    <div class="col">
      <h5>Address</h5>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <%= @author.address.street_1 %>
    </div>
  </div>
  <% if @author.address.street_2.present? %>
    <div class="row">
      <div class="col">
        <%= @author.address.street_2 %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col">
      <%= @author.address.city %>, <%= @author.address.state %> <%= @author.address.zip_code %>
    </div>
  </div>
<% end %>

<% if @author.books.present? %>
  <div class="row mt-5">
    <div class="col">
      <h5>
        <%= pluralize(@author.books.size, "Title") %>
      </h5>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col">
      <ul>
        <% @author.books.each do |book| %>
          <li>
            <%= link_to book.title, book_path(book) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% else %>
  <div class="row mt-5">
    <div class="col">
      <h5>0 Titles</h5>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col">
    <hr>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= link_to "Edit Author", edit_author_path(@author) %>
  </div>
</div>

<div class="row mt-2">
  <div class="col">
    <%= link_to "Delete Author", @author, method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
</div>