<div class="row mt-4">
  <div class="col">
    <h1>Book Details</h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
  </div>
</div>

<div class="row">
  <div class="col">
    <h4>
      <%= @book.title %>
    </h4>
  </div>
</div>

<div class="row mt-3">
  <div class="col">
    <p>
      Author: <%= link_to @book.author.name, author_path(@book.author) %>
    </p>
  </div>
</div>

<div class="row mt-4 mb-4">
  <div class="col">
    <%= render partial: 'authors/author', locals: { book_author: @book.author } %>
  </div>
</div>

<div class="row mt-2">
  <div class="col">
    <p>
      Description: <%= @book.description %>
    </p>
  </div>
</div>

<div class="row mt-2">
  <div class="col">
    <p>
      Genre: <%= link_to @book.book_genre.genre, book_genre_path(@book.book_genre) %>
    </p>
  </div>
</div>

<div class="row mt-2">
  <div class="col">
    <p>
      Publication Year: <%= @book.publication_year %>
    </p>
  </div>
</div>

<div class="row mt-2">
  <div class="col">
    <p>
      Price: <%= @book.price %>
    </p>
  </div>
</div>

<% if @book.subjects.present? %>
  <div class="row mt-2">
    <div class="col">
      <p>
        Subjects:
      </p>
      <ul>
        <% @book.subjects.each do |subject| %>
          <li>
            <%= subject.name %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% else %>
  <div class="row mt-2">
    <div class="col">
      <p>
        Subjects: None
      </p>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col">
    <hr>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= link_to "Edit this Book", edit_book_path(@book) %>
  </div>
</div>