<!DOCTYPE html>
<html>
  <head>
    <title>Bookstore App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <style>
    html, body {
      /* height: 100vh;
      display: flex;
      flex-direction: column; */
    }

    #main-content {
      /* flex: 1; */
    }

    #main-navigation {
      /* flex: 0 0 50px; */
    }
    </style>
  </head>

  <body>
    <%= render 'layouts/navigation' %>

    <%= render 'layouts/notice' %>

    <div id="main-content" class="container">
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
  </body>
</html>